body {
    font-family: 'Cairo', sans-serif;
    color: #555555;
}

.header {
  background-color: #003580;
}

.header .navbar .nav-item .nav-link {
  color: white;
  opacity: 0.8;
}
.btn-light{
    font-size: 14.5px;
}
.header .navbar .nav-item .nav-link:hover {
  opacity: 1;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    background-color: #0077cc;
    color: white;
}
.imgText {
    position: relative;
    text-align: center;
    color: white;
    height: 300px;
    overflow: hidden;
}
.imgText:hover{
    opacity: 0.9;
}
.top-right {
    position: absolute;
    top: 22px;
    text-align: right;
    right: 12px;
}
.top-left {
    position: absolute;
    top: 22px;
    left: 16px;
}
.text-block {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: #383838;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}
.boxSearch .input-group {
  border: 3px solid #febb02;
}

.form-control,
.btn-primary {
  height: 48px;
}

.jmb {
  background-color: #f7f7f7;
}
.jumbContact {
  background-color: #001b42;
  color: white;
}
.newArrival {
  transition-timing-function: ease;
  transition: all 0.2s;
  height: 220px;
  width: 220px;
  margin: auto;
  overflow: hidden;
}

.txtCenter {
  text-align: right;
}

.newArrival:hover {
  opacity: 0.9;
  cursor: pointer;
}

.commit a {
  text-align: right;
  padding-bottom: 0.5rem;
  font-size: 22px;
  color: black;
}

.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after,
.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {
  display: none;
}

/* =================================== Product page =============================== */
.search{
  background-color: #febb02;
}
.custom-control-label::after {
  right: -.5rem;
}
.custom-control-label::before {
  right: -.5rem;
}
/* =========================================== Page Announcement ================*/
.navAnnounce{
  background-color: #e9f0fa;
}
.navAnnounce .nav-link{
  font-weight: bold;
}
.mySlides img{
  /* height: 300px; */
  vertical-align: middle;
}
.column img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.cont {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
  max-height: 450px;
  overflow: hidden;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
/* .caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
} */

.rows:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
  height: 5%;
}
.btnMS{
  display: none;
}
/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}
.active,
.demo:hover {
  opacity: 1;
}

.txtYellow{
  color: #febb02;
}

.bgYellow{
  background-color: #ffd257;
}

.mtBtn{
  margin-top: 2rem;
}
/* ============================================== Registration =========== */
.bgRegister{
  background-color: #f4f7fc;
}
@media screen and (max-width: 450px) {
  .btn-light {
    width: 49%;
    margin-top: 1rem;
  }
  .mtBtn{
    margin-top: 1rem;
    display: block;
    width: 100%;
  }
  .btn-outline-primary {
    display: block;
    margin-top: 1rem;
  }
  .search{
    display: none;
  }
  .btnMS{
    display: block;
  }
  .txtCenter {
    text-align: center;
  }
  .offerA{
    display: none;
  }
}


